.din-uppercase, .hero .nav-main ul, .header-lockup span, .scroll-down-bubble span, .gallery-lockup .label-gallery {
  font-family: "din";
  text-transform: uppercase;
  letter-spacing: 0.13rem;
  font-size: 1.1rem; }

.open-sans, .hero .nav-main ul li .drop-down-menu ul li {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  letter-spacing: 0.04rem;
  text-transform: none;
  font-size: 1rem; }

.hover-orange:hover, .hero .nav-main ul li:hover {
  color: #DC7725; }

.row-between, .hero {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.center-horiz-vert, .gallery-icon {
  display: flex;
  justify-content: center;
  align-items: center; }

.label-stroke, .gallery-lockup span {
  height: 0.35rem;
  width: 2.5rem;
  background-color: #DC7725; }

.test-border, .secondary-nav .bg-texture .container nav, .secondary-nav .bg-texture .container .search {
  border: 1px solid chartreuse; }

@font-face {
  font-family: "Din";
  src: url("../font/DIN Condensed Bold.ttf"); }
@font-face {
  font-family: "Open Sans";
  src: url("../font/open-sans/OpenSans-Light.ttf");
  font-weight: lighter;
  font-style: normal; }
@font-face {
  font-family: "Crimson Text";
  src: url("../font/crimson/CrimsonText-Bold.ttf"); }
li {
  list-style: none; }

* {
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none; }

*, *:before, *:after {
  box-sizing: border-box; }

.wrapper {
  margin: 0 auto;
  width: 67rem; }
  @media screen and (max-width: 67rem) {
    .wrapper {
      width: 56rem; }
      .wrapper .nav-main li a {
        font-size: 1rem; } }

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/hero-slide1.jpg");
  background-size: cover;
  position: relative;
  padding: 5rem 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .hero .nav-main ul {
    display: flex;
    color: white; }
    .hero .nav-main ul li {
      padding: 0.8rem 0.8rem;
      font-size: 1.1rem; }
      .hero .nav-main ul li:nth-child(n+2):nth-child(-n+5):hover {
        background-color: #343433;
        border-radius: 4px 4px 0 0; }
        .hero .nav-main ul li:nth-child(n+2):nth-child(-n+5):hover .drop-down-menu ul {
          position: absolute;
          display: flex;
          flex-direction: column; }
      .hero .nav-main ul li .drop-down-menu ul {
        width: 16rem;
        display: none;
        background-color: #343433;
        padding: 0;
        margin: 0 0 0 -0.8rem; }
        .hero .nav-main ul li .drop-down-menu ul li {
          margin: 0.15rem 0 0.5rem 0;
          padding: 0.8rem 0.5rem 0.5rem 0.8rem; }
          .hero .nav-main ul li .drop-down-menu ul li a {
            color: grey; }
          .hero .nav-main ul li .drop-down-menu ul li:hover a {
            color: white; }
        .hero .nav-main ul li .drop-down-menu ul hr {
          border: none;
          height: 1px;
          background-color: grey; }

.header-lockup {
  margin: 14vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; }
  .header-lockup span {
    margin: 1rem 0 0 0;
    font-size: 1.45rem;
    letter-spacing: 0.35rem; }
  .header-lockup h1 {
    font-size: 7rem;
    letter-spacing: 0.2rem;
    font-family: 'Crimson Text', serif; }
  .header-lockup hr {
    border: none;
    background-color: white;
    height: 4px;
    width: 16rem; }

.scroll-down-bubble {
  margin: 24vh 0 10vh 0; }
  .scroll-down-bubble #talk-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 62px;
    background: #DC7725;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px; }
  .scroll-down-bubble #talk-bubble:before {
    content: "";
    position: absolute;
    right: 46%;
    bottom: -1rem;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 13px solid #DC7725;
    border-bottom: 13px solid transparent;
    transform: rotate(-90deg); }

.secondary-nav {
  background-color: #343433;
  background-image: url("../img/bg-categorynav.jpg");
  background-repeat: repeat-x;
  height: 8.75rem; }
  .secondary-nav .bg-texture {
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); }
    .secondary-nav .bg-texture .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5rem; }
      .secondary-nav .bg-texture .container nav {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        font-weight: lighter;
        letter-spacing: 0.04rem;
        text-transform: none;
        display: flex;
        justify-content: space-between;
        color: lightgray;
        width: 28rem; }
        .secondary-nav .bg-texture .container nav li span {
          background-color: lightgray;
          height: 2rem;
          width: 0.1rem; }
      .secondary-nav .bg-texture .container .search {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.04rem;
        text-transform: none;
        color: lightgray; }

.gallery-icon {
  margin: 0 auto;
  align-self: center;
  width: 6rem;
  height: 6rem;
  background-color: rgba(52, 52, 51, 0.75);
  border-radius: 100%;
  transition: 200ms ease; }
  .gallery-icon img {
    height: 3rem; }

.gallery-lockup {
  left: 2.8rem;
  bottom: 2.5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .gallery-lockup span {
    margin: 0 0 1rem 0; }
  .gallery-lockup .label-gallery {
    font-size: 1.5rem; }

.col-quarter:hover .gallery-icon, .col-half:hover .gallery-icon {
  transform: scale(1.2); }

.gallery .row1 {
  display: flex; }
  .gallery .row1 .col-half {
    display: flex;
    background-image: url("../img/home-raft.jpg");
    background-size: cover;
    width: 50vw;
    height: 26.25rem;
    position: relative; }
  .gallery .row1 .col-quarter {
    display: flex;
    background-image: url("../img/home-basecamp.jpg");
    background-size: cover;
    width: 25vw;
    height: 26.25rem;
    position: relative; }
    .gallery .row1 .col-quarter:last-of-type {
      display: flex;
      background-image: url("../img/home-backpacking.jpg");
      background-size: cover;
      width: 25vw;
      height: 26.25rem;
      position: relative; }
.gallery .row2 {
  display: flex; }
  .gallery .row2 .col-quarter {
    display: flex;
    background-image: url("../img/home-photo.jpg");
    background-size: cover;
    width: 25vw;
    height: 26.25rem;
    position: relative; }
    .gallery .row2 .col-quarter:first-of-type {
      display: flex;
      background-image: url("../img/home-canoe.jpg");
      background-size: cover;
      width: 25vw;
      height: 26.25rem;
      position: relative; }
  .gallery .row2 .col-half {
    display: flex;
    background-image: url("../img/home-custom.jpg");
    background-size: cover;
    width: 50vw;
    height: 26.25rem;
    position: relative; }

/*# sourceMappingURL=style.css.map */
