.hero {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/hero-slide1.jpg");
  background-size: cover;
  position: relative;
  padding: 5rem 0 0 0;
  .wrapper {
    // @extend .test-border;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      // @extend .test-border;
      // margin: 0 9.8rem 0 0;
    }
    .nav-main ul {
      // @extend .test-border;
      color: white;
      li {
        display: inline-block;
        @extend .din-uppercase;
        margin: 0 0 0 1.4rem;
        a {
          @extend .hover-orange;
        }
      }
    }
  }
}
