.secondary-nav {
  background-color: $color-dark-gray;
  background-image: url("../img/bg-categorynav.jpg");
  background-repeat: repeat-x;
  height: 8.75rem;
  .bg-texture {
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5rem;

      nav {
        @include font-open-sans(1rem, normal);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: lightgray;
        width: 27rem;
        // @extend .test-border;
        li {
          color: lightgray;
          &:nth-child(n+2):nth-child(-n+4) {
            color: darken(lightgray, 20%);
          }
          &:last-child {
            color: $color-orange;
            & i {
              color: darken(lightgray, 30%);
              margin: 0 0 0 0.5rem;
            }
          }
          span {
            display: block;
            background-color: darken(lightgray, 50%);
            height: 2.5rem;
            width: 1px;
          }
        }

      }
      .search {
        @include font-open-sans(1.1rem, bold);
        span {
          color: darken(lightgray, 20%);
          i {
            margin: 0 0 0 0.5rem;
            font-size: 1.3rem;
            color: darken(lightgray, 30%);
          }
        }

        // @extend .test-border;
      }
    }
  }
}
