// VARIABLES!
  $font-size-main: 1.1rem;
  $color-orange: #DC7725;
  $color-dark-gray: #343433;

  // media queries!
    $break-large: 67rem;


// EXTENDS!
  .din-uppercase {
    font-family: "din";
    text-transform: uppercase;
    letter-spacing: 0.13rem;
    font-size: $font-size-main;
  }

  .open-sans {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.04rem;
    text-transform: none;
    font-size: 1rem;
  }

  .hover-orange {
    &:hover {
      color: $color-orange;
    }
  }

  .row-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .center-horiz-vert {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .label-stroke {
    height: 0.35rem;
    width: 2.5rem;
    background-color: $color-orange;
  }

  .test-border {
    border: 1px solid chartreuse;
  }
// MIXINS!

@mixin font-open-sans ($font-size, $font-weight) {
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: 0.04rem;
  text-transform: none;
}
