// VARIABLES!
  $font-size-main: 1.1rem;
  $color-orange: #DC7725;
  $color-dark-gray: #343433;
// EXTENDS!
  .din-uppercase {
    font-family: "din";
    text-transform: uppercase;
    letter-spacing: 0.13rem;
    font-size: $font-size-main;
  }

  .hover-orange {
    &:hover {
      color: $color-orange;
    }
  }

  .row-between {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .test-border {
    border: 1px solid chartreuse;
  }
// MIXINS!
